.content {
    &--banner {
        background-image: url('../images/beboi.jpg');
        @include backgroundImage();
        height: 50rem;
        position: relative;
        .bds--options {
            width: 63rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            &--heading {
                &__list {
                    display: flex;
                    &--item {
                        overflow: auto;
                        &--link {
                            border: none;
                            background-color: $background-nav;
                            width: 21rem;
                            opacity: 0.6;
                            text-transform: uppercase;
                            font-size: 1.6rem;
                            font-weight: 500;
                            color: $color-text;
                            line-height: 4.2rem;
                        }
                    }
                    .active> a> .bds--options--heading__list--item--link{
                        opacity: 1;
                    }
                    &--item:nth-child(1)> a .bds--options--heading__list--item--link{
                        border-radius: 4px 0px 0px 0px;
                    }
                    &--item:nth-child(3)> a .bds--options--heading__list--item--link{
                        border-radius: 0px 4px 0px 0px;
                    }
                }
            }
            .tabs--content{
                width: 100%;
                background: rgb(251, 249, 242, 0.6);
                .bds--options--container {
                    .bds--options--search {
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        margin: 0.5rem 0.6rem;
                        &__wrap {
                            flex: 1;
                            &--input {
                                width: 100%;
                                height: 3.2rem;
                                outline: none;
                                border: none;
                                font-size: 1.4rem;
                                padding: 0.7rem 0 0.7rem 2.4rem;
                                background-color: $white;
                                opacity: 1;
                            }
                        }
                        &__btn {
                            background-color: $background-btn;
                            line-height: 3.2rem;
                            font-size: 1.4rem;
                            color: $white;
                            border: none;
                            padding: 0 1rem;
                            font-weight: 500;
                        }
                    }
                    .bds--options--select {
                        justify-content: space-between;
                        margin: 0.8rem 0.6rem;
                        .options--category {
                            &--list {
                                justify-content: space-between;
                                &__item {
                                    display: flex;
                                    height: 3.2rem;
                                    align-items: center;
                                    border: 0.2px solid #313132;
                                    border-radius: 2px;
                                    background-color: #fff;
                                    &--text {
                                        margin-right: 1.2rem;
                                        font-size: 1.4rem;
                                        color: $color-post;
                                    }
                                    &--icon {
                                        display: grid;
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                                &__item:nth-child(1),
                                &__item:nth-child(2) {
                                    width: 12.8rem;
                                }
                                &__item:nth-child(3),
                                &__item:nth-child(4) {
                                    width: 9.6rem;
                                }
                            }
                        }
                        .options--extend {
                            &--list {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                line-height: 3.2rem;
                                &__item {
                                    &--text {
                                        font-size: 1.4rem;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                    .open--options{
                        display: none;
                        overflow: scrollY;
                        .options--category{
                            transition: 1s;
                            animation: showModal ease-in 0.5s;
                        }
                    }
                }
            }
        }
    }
    .site--content {
        padding-top: 6rem;
        .site--main {
            &--module {
                width: 100%;
                margin-bottom: 1rem;
                &--header {
                    border-bottom: 0.2px solid $primary-color;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1.7rem;
                    line-height: 4rem;
                    &__title {
                        text-transform: uppercase;
                        padding: 0.25rem 0.5rem 0.25rem 0;
                        margin-bottom: 0;
                        font-size: 1.8rem;
                        font-weight: 700;
                        a {
                            color: $primary-color;
                        }
                    }
                    &__more {
                        color: $primary-color;
                        margin-left: auto;
                        margin-top: 0.25rem;
                        font-size: 1.4rem;
                    }
                }
                .module-content {
                    &--item {
                        margin-bottom: 2.4rem;
                        &__image {
                            width: 100%;
                            height: 14rem;
                            position: relative;
                            a {
                                img {
                                    border-radius: 1rem 1rem 0 0;
                                }
                            }
                            .ribbon {
                                width: 13rem;
                                height: 14rem;
                                overflow: hidden;
                                position: absolute;
                                span {
                                    position: absolute;
                                    display: block;
                                    width: 22.5rem;
                                    background-color: #BC0F19;
                                    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
                                    color: $white;
                                    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
                                    text-transform: uppercase;
                                    text-align: center;
                                    font-size: 1.2rem;
                                    line-height: 1.8rem;
                                }
                            }
                            .ribbon-top-left {
                                top: 0;
                                left: 0;
                                span {
                                    right: -1.5rem;
                                    top: 2rem;
                                    transform: rotate(-45deg);
                                }
                            }
                            .ribbon-top-left::before {
                                top: 0;
                                right: 0;
                            }
                            .ribbon-top-left::after {
                                bottom: 0;
                                left: 0;
                            }
                        }
                        &__info {
                            padding: 0.7rem 1.5rem;
                            width: 100%;
                            background-color: $color-text;
                            border-radius: 0 0 1rem 1rem;
                            &--title {
                                a {
                                    text-transform: uppercase;
                                    overflow: hidden;
                                    display: -webkit-box;
                                    border-bottom: 0.02rem solid $color-post;
                                    padding-bottom: 1rem;
                                    -webkit-line-clamp: 2;
                                    line-height: 1.9rem;
                                    font-size: 1.5rem;
                                    color: $color-post;
                                    font-weight: 600;
                                    text-align: justify;
                                    -webkit-box-orient: vertical;
                                }
                            }
                            &--desc {
                                padding: 1.2rem 0;
                                .rowset {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    .sub-content {
                                         &--desc{
                                            text-align: justify;
                                            font-size: 1.4rem;
                                            line-height: 2.1rem;
                                            font-weight: 400;
                                        }
                                    }
                                    .view-post-project {
                                        padding-top: 1.9rem;
                                        margin-left: 50%;
                                        transform: translateX(-50%);
                                        a {
                                            background-color: $background-nav;
                                            color: $white;
                                            padding: 0.2rem 0.6rem;
                                            box-shadow: 0 0.5 1px rgb(0 0 0 / 48%);
                                            border-radius: 0.4rem;
                                            font-size: 1.6rem;
                                        }
                                    }
                                    .location,
                                    .time,
                                    .area,
                                    .price {
                                        margin-top: 0.8rem;
                                        color: $color-post;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        display: inline-block;
                                        font-size: 1.4rem;
                                        font-weight: 400;
                                        line-height: 16.41px;
                                    }
                                }
                                .feature-project {
                                    border-top: 0.2px solid rgba(49, 49, 50, 0.5);
                                    margin-top: 1rem;
                                    display: flex;
                                    justify-content: space-between;
                                    .number-apartment,
                                    .status-project {
                                        margin-top: 0.5rem;
                                        color: $color-post;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                    .fast--news {
                        border-bottom: 0.2px solid $color-post;
                        &--homepage {
                            font-size: 1.2rem;
                            line-height: 1.4rem;
                            margin-top: 1.3rem;
                            margin-bottom: 0.4rem;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                        &--title {
                            font-weight: 500;
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            margin-bottom: 0.8rem;
                            a{
                                color: $color-post;
                            }
                        }
                        &--date {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 1.2rem;
                            line-height: 1.4rem;
                            display: inline-block;
                            border-bottom: 0.2px solid $black;
                            padding-bottom: 2px;
                            margin-bottom: 1rem;
                        }
                        &--desc{
                            font-size: 1.4rem;
                            line-height: 2.1rem;
                            text-align: justify;
                            color: $color-post;
                            margin-bottom: 1rem;
                            .news--post--more{
                                display: block;
                                color: $more-color;
                            }
                        }
                    }
                    .post-right{
                        .name--title{
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            font-weight: 500;
                            margin: 0.8rem 0;
                            a{
                                color: $color-post;
                            }
                        }
                    }
                    .post-more-scroll{
                        border-top: 1px solid #ccc;
                        height: 23.4rem;
                        overflow-y: scroll;
                        .float-post{
                            padding-top: 0.7rem;
                            &--name{
                                border-bottom: 0.2px solid #ccc;
                                padding-bottom: 0.8rem;
                                font-size: 1.4rem;
                                line-height: 2.1rem;
                                a{
                                    color: $color-post;
                                }
                            }
                        }
                    }
                    .post-more-scroll::-webkit-scrollbar{
                        width: 0.6rem;
                        background-color: #f5f5f5;
                    }
                    .post-more-scroll::-webkit-scrollbar-thumb{
                        background-color: $black;
                    }
                    .investor--group{
                        align-items: center;
                        margin: 5rem 0;
                    }
                }
            }
            .banner--news {
                background-image: url(../images/lakeview3_6k\ 1.png);
                @include backgroundImage();
                height: 22.4rem;
            }
        }
        .post--news{
            .widget{
                margin-bottom: 1rem;
            }
            .widget_new_posts{
                .widget-header{
                    .widget-title{
                        text-align: center;
                        font-size: 1.8rem;
                        width: 100%;
                        text-transform: uppercase;
                        background-color: $primary-color;
                        padding: 1rem;
                        margin-bottom: 0;
                        border-radius: 1rem 1rem 0 0;
                        font-weight: 400;
                        color: $white;
                        line-height: 2rem;
                    }
                }
                .text--widget{
                    border: 0.5px solid #e5e5e5;
                    border-top: none;
                    box-sizing: border-box;
                    border-radius: 0 0 1rem 1rem;
                    padding: 1rem;
                    &--item{
                        border-bottom: 1px solid #e5e5e5;
                        padding-bottom: 0.8rem;
                        padding-top: 0.7rem;
                        display: flex;
                        align-items: center;
                        &__image{
                            max-width: 7rem;
                            margin-right: 0.5rem;
                        }
                        &__name{
                            a{
                                font-size: 1.4rem;
                                margin: 3px 0;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                text-transform: inherit;
                                line-height: 150%;
                                color: $color-post;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .widget_hotline{
                .hotline{
                    &--title-box{
                        &__item{
                            border-radius: 1rem 1rem 0 0;
                            background-color: $primary-color;
                            color: $color-text;
                            padding: 1rem;
                            margin-bottom: 0;
                            font-weight: 500;
                            line-height: 2rem;
                            font-size: 1.8rem;
                            text-transform: uppercase;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                    .content-box{
                        border: 0.5px solid #e5e5e5;
                        border-top: none;
                        border-radius: 0 0 1rem 1rem;
                        padding: 1rem;
                        &--item{
                            display: flex;
                            margin-top: 0;
                            margin-bottom: 1.2rem;
                            span{
                                font-size: 1.4rem;
                                line-height: 16.41px;
                                i{
                                    color: #399C0C;
                                    padding-right: 5px;
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
            }
            .widget_text{
                .widget-header{
                    border-bottom: 1px solid $primary-color;
                    display: flex;
                    .widget-title{
                        text-align: center;
                        width: 100%;
                        font-size: 1.8rem;
                        text-transform: uppercase;
                        color: $white;
                        background-color: $primary-color;
                        padding: 1rem;
                        margin-bottom: 0;
                        border-radius: 1rem 1rem 0 0;
                        line-height: 2rem;
                    }
                }
                .textwidget{
                    .fix-form{
                        padding: 1.6rem 1rem 0 1rem;
                        border: 0.5px solid #e5e5e5;
                        border-radius: 0 0 1rem 1rem;
                        .form-group{
                            margin-bottom: 1.6rem;
                            display: flex;
                            justify-content: center;
                            .form-control{
                                height: 3rem;
                                font-size: 1.4rem;
                                color: $color-post;
                                outline: none;
                            }
                            .btn-success{
                                font-size: 1.4rem;
                                text-transform: uppercase;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

